body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,rgba(250, 9, 50, 0.701),rgba(125, 128, 118, 0.76), white,rgba(250, 9, 50, 0.701));
    display: grid;
    place-content: center;
    height: 100vh;
    color: black;
    text-align: center;
    margin: 3%;

}

img {
    border-radius: 20%;
}
h1 {
    text-align: center;
}
.cta .btn {
    display: inline-block;
    color: black;
    text-align: center;
    margin: 2rem;
    padding: 1rem 1rem;
    border-radius: 20%;
    background-color: rgba(243, 127, 146, 0.224);
    text-decoration: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    
}
.btn:hover {
    background-color: rgba(188, 192, 173, 0.486);
}

.dashboard-main {
    padding: 2rem;
}

.info-section, .navigation-section, .recent-section {
    margin-bottom: 2rem;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.form-group {
    margin-bottom: 1rem;
    text-align: left;
    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}


.enter {
    background-color: rgba(136, 135, 135, 0.311);
    display: inline-block;
    text-align: center;
    margin: 1rem;
    padding: 10px;
    border-radius: 20%;
}


footer {
    padding: 50px;
    color: black;
}